body {
    background: gray;
    width:100%;
    height: auto;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    

}
.style-button1{
    font-family: $jetBrainsFont;
    font-size: $med-font;
    font-weight: $regWeight;
    color: $navy-black;
    background-color: $medGray;
    width: 85px;
    height: 35px;
    border: 2px solid $black;
    padding: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.style-button2{
    width: 317px;
    height: 30px;
    font-family: $jetBrainsFont;
    font-size: $reg-font;
    font-weight: $medWeight;
    color: $navy-black;
    background: $lightGray;
    box-sizing: border-box;
    border: 2px solid $darkGray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0px;
}
.style-chooseList{
    font-family: $jetBrainsFont;
    font-size: $big-font;
    font-weight: $x-lightWeight;
    color: $navy-black;
    -webkit-text-stroke: 1px $navy-black;
    margin: 0px;
    margin-top: 100px;
    text-align: center;
    
}
.style-underline{
    font-family: $jetBrainsFont;
    font-size: $reg-font;
    font-weight: $lightWeight;
    color: $navy-black;
    text-decoration: underline;
    margin: 0px;
    // -webkit-text-stroke: 1px $navy-black;
}
.style-noUnderline{
    font-family: $jetBrainsFont;
    font-size: $reg-font;
    font-weight: $lightWeight;
    color: $navy-black;
    text-decoration: none;
}
.style-input{
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid $darkGray;
    background: $lightGray;
}
.frame__title{
    h4{
        text-align: center;
        font-family: $jetBrainsFont;
        font-weight: $regWeight;
        font-size: $x-big-font;
        color: $navy-black;
        -webkit-text-stroke: 1px $navy-black;
        margin: 0px;
        padding-top: 20px;
    }
}

.hide-element{
    display: none !important; 
}
.fa-trash{
    padding-top: 4px;
    color: $darkGray ;
    
}
.fa-plus{
    color: $navy-black;
    font-size: 22px;
}
input {
    text-align: center;
    // font-size: 9px;
}
.renderBox{
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid $darkGray;
    background: $lightGray;
    text-align: center;
    padding-top: 2px;
}
.list-container{
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
}
.style-listBtn{
    font-family: $jetBrainsFont;
    font-size: $med-font;
    font-weight: $regWeight;
    color: $navy-black;
    background-color: $medGray;
    width: 211px;
    height: 35px;
    border: 2px solid $black;
    padding: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.middle {
    background: $whiteGray; 
    border: 20px solid $medGray;
    box-sizing: border-box;
    height: 100%;
    min-height: 667px;
    &__list1 {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        h3{
            text-align: center;
        }
    }
    &__column {
        display: flex; 
        flex-direction: column;
        padding: 5px;
        h3 {
            font-size:2vmin ;
            text-decoration: underline;
        }

    }
    &__title {
        h4{
            text-align: center;
            font-family: $jetBrainsFont;
            font-weight: $regWeight;
            font-size: $x-big-font;
            color: $navy-black;
            -webkit-text-stroke: 1px $navy-black;
            margin: 0px;
            padding-top: 20px;
        }
    }
    &__container {
        flex-direction: column;
        display: flex;
    }
    &__btnContainer {
        display: flex;
        flex-direction: row;

    }
    &__price, &__quantity, &__product {
        // margin: 2vmin;
        // width: 8vmin;
        // height: 3vmin;
        // margin-bottom: 20px;
    }
    &__lstBtns{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    &__sections {
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        padding-bottom: 20px;
        
    }
   
    &__content {
        display:  grid;
        flex-direction: column;
        justify-content: center;
        opacity: 1;


    }
    &__lstBtn1, &__lstBtn2, &__lstBtn3 {
        font-size: 2.5vh;
    }
    &__plus {
        display: flex;
        justify-content: center;
    }
    &__totalBox {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        width: 317px;
        height: 30px;
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border: 2px solid #7B7A7A;
        background:#E9E8E8 ;

         h2 {
            margin: 0px;
            font-size: large;
            margin-left: 2%;
            margin-right: 2%;
         }
         h1 {
            margin: 0px; 
            font-size: large;
            margin-left: 2%;
            margin-right: 2%;
         }
    }
    &__btnClr{

    }
    &__btnSave{
    }
    &__calcBox, &__clearBox, &__saveBox{
        padding-bottom: 15px;
    }
    &__lowerContent{
        text-align: center;
    }

}