//Colors
$black:#000000;      //titles
$navy-black: #0D0D0D;
$darkGray: #7B7A7A;
$medGray: #D9D9D9;
$lightGray:#E9E8E8;  //text
$whiteGray:#F5F5F5;

// Font sizes (Based on 16px)
$x-big-font: 32px;
$big-font:28px; 
$med-font:18px; 
$reg-font:16px;
$small-font:12px; 

// font weight
$x-lightWeight: 200;
$lightWeight: 300;   
$regWeight: 400;
$medWeight: 500;

// font Family
$jetBrainsFont: 'JetBrains Mono', monospace;