body {
  background: gray;
  width: 100%;
  height: auto;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.style-button1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  color: #0D0D0D;
  background-color: #D9D9D9;
  width: 85px;
  height: 35px;
  border: 2px solid #000000;
  padding: 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.style-button2 {
  width: 317px;
  height: 30px;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  color: #0D0D0D;
  background: #E9E8E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #7B7A7A;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0px;
}

.style-chooseList {
  font-family: "JetBrains Mono", monospace;
  font-size: 28px;
  font-weight: 200;
  color: #0D0D0D;
  -webkit-text-stroke: 1px #0D0D0D;
  margin: 0px;
  margin-top: 100px;
  text-align: center;
}

.style-underline {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #0D0D0D;
  text-decoration: underline;
  margin: 0px;
}

.style-noUnderline {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #0D0D0D;
  text-decoration: none;
}

.style-input {
  width: 80px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #7B7A7A;
  background: #E9E8E8;
}

.frame__title h4 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 32px;
  color: #0D0D0D;
  -webkit-text-stroke: 1px #0D0D0D;
  margin: 0px;
  padding-top: 20px;
}

.hide-element {
  display: none !important;
}

.fa-trash {
  padding-top: 4px;
  color: #7B7A7A;
}

.fa-plus {
  color: #0D0D0D;
  font-size: 22px;
}

input {
  text-align: center;
}

.renderBox {
  width: 80px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #7B7A7A;
  background: #E9E8E8;
  text-align: center;
  padding-top: 2px;
}

.list-container {
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
}

.style-listBtn {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  color: #0D0D0D;
  background-color: #D9D9D9;
  width: 211px;
  height: 35px;
  border: 2px solid #000000;
  padding: 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.middle {
  background: #F5F5F5;
  border: 20px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  min-height: 667px;
}

.middle__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
}

.middle__list1 h3 {
  text-align: center;
}

.middle__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.middle__column h3 {
  font-size: 2vmin;
  text-decoration: underline;
}

.middle__title h4 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 32px;
  color: #0D0D0D;
  -webkit-text-stroke: 1px #0D0D0D;
  margin: 0px;
  padding-top: 20px;
}

.middle__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.middle__lstBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.middle__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 20px;
}

.middle__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.middle__lstBtn1, .middle__lstBtn2, .middle__lstBtn3 {
  font-size: 2.5vh;
}

.middle__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle__totalBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 317px;
  height: 30px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #7B7A7A;
  background: #E9E8E8;
}

.middle__totalBox h2 {
  margin: 0px;
  font-size: large;
  margin-left: 2%;
  margin-right: 2%;
}

.middle__totalBox h1 {
  margin: 0px;
  font-size: large;
  margin-left: 2%;
  margin-right: 2%;
}

.middle__calcBox, .middle__clearBox, .middle__saveBox {
  padding-bottom: 15px;
}

.middle__lowerContent {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */